.blogContent p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  
  }
  .blogContent h2{
  
    font-size: 30px;
    font-weight: bold;
  }
  
  .blogContent a{
    color: blue;
  }

  .navbar {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #1f465c;
    opacity: 0.95;


  }
  
  .navbar:hover {
    background-color: #9bb8c263;
    backdrop-filter: blur(10px);
  }
  